body{
            text-align: center;
            font-family:'Gugi', cursive;
            background:linear-gradient(to right, #313826, #4CAF50);
        }
        
        div{
            border:2px, dashed  #1f1bff;
            margin: 10px;
            padding: 5px 30px;
            border-radius: 15px;
            box-shadow:10px 12px #313826;
        }

        #principal{
            width: 50px;
            float: left;
            border-radius:50%;
        }

        div.especial{
            
            font-family: "Rubik", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;  
            font-style: normal;
            text-shadow: 10px 5px #999;
        }